.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    &Controls {
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        gap: 2rem;
        margin-bottom: 1rem;
    }
}
