.search {
    gap: 0.25rem;
    &Title {
        margin-bottom: 0.5rem;
    }
    &Input {
        padding: 0.5rem;
        border: 1.5px solid black;
        border-radius: 0.5rem;
    }
    &Button {
        display: inline-block;
        margin-left: 0.5rem;
        background: black;
        color: white;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        transition: scale 0.3s ease;
        &:hover {
            scale: 1.05;
        }
        &:active {
            scale: 0.95;
        }
        &:disabled {
            opacity: 0.4;
            cursor: not-allowed;
        }
    }
}
