@import '../../styles/variables';

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error {
    color: $red; /* Red */
    font-weight: bold;
}

.loading {
    color: $blue; /* Blue */
}

.pokemonsList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.noPokemonMessage {
    width: 100%;
    text-align: center;
}
