@import '../../styles/variables';
@import '../../styles/mixins';

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error {
    color: $red; /* Red */
    font-weight: bold;
}

.loading {
    color: $blue; /* Blue */
}

.pokemonsList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    @include breakpoint('<phone') {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.noPokemonMessage {
    width: 100%;
    text-align: center;
}
